{{- $cdn := .Scratch.Get "cdn" | default dict -}}
{{- $fingerprint := .Scratch.Get "fingerprint" -}}

{{- if not .Site.Params.app.noFavicon -}}
    {{- with .Site.Params.app.svgFavicon -}}
        <link rel="icon" href="{{ . }}">
    {{- else -}}
        <link rel="shortcut icon" type="image/x-icon" href="/icons/favicon.ico" />
        <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    {{- end -}}
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    {{- with .Site.Params.app.iconColor -}}
        <link rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="{{ . }}">
    {{- end -}}
    <link rel="manifest" href="/icons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#4964e8">
    <meta name="msapplication-config" content="/icons/browserconfig.xml">
    <meta name="theme-color" content="#4964e8">
{{- end -}}

<link rel="canonical" href="{{ .Permalink }}" />
{{- if .PrevInSection -}}
    <link rel="prev" href="{{ .PrevInSection.Permalink }}" />
{{- end -}}
{{- if .NextInSection -}}
    <link rel="next" href="{{ .NextInSection.Permalink }}" />
{{- end -}}

{{- with .OutputFormats.Get "RSS" -}}
    <link rel="alternate" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ $.Site.Title }}">
    <link rel="feed" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ $.Site.Title }}">
{{- end -}}

{{- /* normalize.css */ -}}
{{- $source := $cdn.normalizeCSS | default "lib/normalize/normalize.min.css" -}}
{{- $style := dict "Source" $source "Fingerprint" $fingerprint -}}
{{- partial "plugin/style.html" $style -}}

{{- /* style.min.css */ -}}
{{- $style := dict "Source" "css/style.scss" "Fingerprint" $fingerprint -}}
{{- $options := dict "targetPath" "css/style.min.css" "enableSourceMap" true -}}
{{- $style = dict "Context" . "ToCSS" $options | merge $style -}}
{{- partial "plugin/style.html" $style -}}

{{- /* Font Awesome */ -}}
{{- $source := $cdn.fontawesomeFreeCSS | default "lib/fontawesome-free/all.min.css" -}}
{{- $style := dict "Source" $source "Fingerprint" $fingerprint -}}
{{- partial "plugin/style.html" $style -}}

{{- /* Animate.css */ -}}
{{- $source := $cdn.animateCSS | default "lib/animate/animate.min.css" -}}
{{- $style := dict "Source" $source "Fingerprint" $fingerprint -}}
{{- partial "plugin/style.html" $style -}}

{{- if not .IsHome -}}

{{- $aboutPage := site.GetPage "/about" -}}
{{- if eq .Page $aboutPage -}}
{{- /* about.min.css */ -}}
{{- if .Site.Params.SourceMap -}}
{{- $style := dict "Source" "css/about.scss" "Fingerprint" $fingerprint -}}
{{- $options := dict "targetPath" "css/about.min.css" "enableSourceMap" true -}}
{{- $style = dict "Context" . "ToCSS" $options | merge $style -}}
{{- partial "plugin/style.html" $style -}}
{{- else -}}
{{- $style := dict "Source" "css/about.scss" "Fingerprint" $fingerprint -}}
{{- $options := dict "targetPath" "css/about.min.css" "enableSourceMap" false -}}
{{- $style = dict "Context" . "ToCSS" $options | merge $style -}}
{{- partial "plugin/style.html" $style -}}
{{- end -}}
{{ end }}
{{- end -}}
