// ==============================
// Variables
// ==============================

// ========== Global ========== //
// Color of the background
$global-background-card-color: #fff !default;
$global-background-card-color-dark: #333 !default;

// Color of the home-avatar
$avatar-background-color: #afc6e9 !default;
$avatar-background-color-dark: #f2f2f2 !default;
$avatar-border-color: rgba(128, 128, 128, .15) !default;
$avatar-border-color-dark: rgba(242, 242, 242, .05) !default;
// ========== Global ========== //

// ========== Single Content ========== //
// Color of the parameter
$skill-color: #282828 !default;
$level-color: #0fffb7 !default;
$level-color-dark: #00875e !default;
// ========== Single Content ========== //
